AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=<Azure OpenAI endpoint, usually takes the form of https://<your-instance>.openai.azure.com/>
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=<your model deployment name>